{% extends 'webinfo/base.html' %}

{% block title %}
    Error Deleting Activity
{% endblock %}

{% block content %}
    <div>
        <h2 class="mt-5">Error Deleting Activity</h2>
        <p class="lead">
            You may not delete activity {{ activity }}.  This
            activity currently has related with the following
            participates:
        </p>

        <p class="lead">
            <ul class="list-group">
                {% for participate in participates %}
                <a href="{{ participate.get_absolute_url }}" class="list-group-item list-group-item-action">{{ participate.user }}</a>
                {%  endfor %}
            </ul>
        </p>

        <p>
            Return to <a href="{% url 'webinfo_participate_list_urlpattern' %}">Activity List</a>.
        </p>
    </div>
{% endblock %}
