{% extends 'webinfo/base.html' %}

{% block title %}
    Author List
{% endblock %}

{% block org_content %}
    <h1 class="mt-5"> Author List</h1>

    {% if perms.webinfo.add_author %}
    <div class="mobile">
        <a href="{% url 'webinfo_author_create_urlpattern' %}"
           class="btn btn-outline-dark"> Create New Author</a>
    </div>
    {% endif %}

    <ul class="list-group list-group-flush">
        {% for author in author_list %}
            <a href="{{ author.get_absolute_url }}" class="list-group-item list-group-item-action">{{ author }}</a>
        {% empty %}
            <em>There are currently no authors available.</em>
        {% endfor %}
    </ul>

{% endblock %}