{% extends 'webinfo/base.html' %}

{% block title %}
    Book List
{% endblock %}

{% block org_content %}
 <h1 class="mt-5"> Book List</h1>

    {% if perms.webinfo.add_book %}
        <div class="mobile">
            <a href="{% url 'webinfo_book_create_urlpattern' %}"
            class="btn btn-outline-dark">
                Create New Book</a>
        </div>
    {% endif %}

        <ul class="list-group list-group-flush">
            {% for book in book_list %}
                <a href="{{ book.get_absolute_url }}" class="list-group-item list-group-item-action">{{ book }}</a>
            {% empty %}
                <em>There are currently no books available.</em>
            {% endfor %}
        </ul>
{% endblock %}