{% extends 'webinfo/base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to our Book Community!</h1>
        <p class="lead">
            You can post your book reviews on this site, comment on other people's posts,
            add Books and Authors to Favorites, and participate our activities.
        </p>
        <hr class="my-4">
        <p> Come and post your first book review!</p>
        <a class="btn btn-primary btn-lg" href="{% url 'webinfo_post_list_urlpattern' %}" role="button">Learn more</a>
    </div>
{% endblock %}
