{% extends 'webinfo/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
    Update Favorite Book
{% endblock %}

{% block content %}
    <p class="lead">
        <h1 class="mt-5">Update Favorite Book</h1>
    </p>

    <form
        action="{{ like.get_update_url }}"
        method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-outline-dark">Update Favorite Book</button>
    </form>
{% endblock %}
