{% extends 'webinfo/base.html' %}

{% block title %}
    Delete Favorite Type
{% endblock %}

{% block content %}
    <form
        action="{{ prefer.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p class="lead">
            <h2 class="mt-5">Are you sure that you want to delete
                favorite type {{ prefer }}?</h2>
        </p>
        <a class="btn btn-outline-dark" href="{{ prefer.get_absolute_url }}"
        role="button">Cancel</a>
        <button type="submit" class="btn btn-outline-danger">Delete Favorite Type</button>
    </form>
{% endblock %}
