{% extends 'webinfo/base.html' %}

{% block title %}
    Delete Book & Author Relation
{% endblock %}

{% block content %}
    <form
        action="{{ write.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p class="lead">
            <h2 class="mt-5">Are you sure that you want to delete
        book & author relation {{ write }}?</h2>
        </p>
        <a class="btn btn-outline-dark"
           href="{{ write.get_absolute_url }}" role="button">Cancel</a>
        <button type="submit" class="btn btn-outline-danger">Delete Book & Author Relation</button>
    </form>
{% endblock %}
